<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel='stylesheet' href='css/style.css' type='text/css' media='screen'>     
</head>
<body>  
    <header>
        <div class="center">
            <h1> MyAmazon </h1>
        </div>
   
        <nav>
            <div class="center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/Product">Product</a></li>
                    <li><a href="/Register">Register</a></li>
                    <li><a href="/Login">Login</a></li>
                </ul>                
            </div>
        </nav>        
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>
            Footer
        </p>
    </footer>
</body>
</html>